* {
    color: #364958;
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
    background-color: #e7e7e7;
  }
  /* start navebar */
  .navbar {
    background-color: #87bba2 !important;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .scrum-logo {
    width: 6rem;
    height: 3.2rem;
  }
  .dropdwon-search {
    display: flex;
    justify-content: space-between;
  }
  .nav-link {
    color: #364958;
  }
  .form-control {
    width: 50%;
    background-color: #e7e7e7;
    border-radius: 11px;
  }
  .nav-dropdown {
    margin-left: 17%;
    align-self: flex-end;
  }
  /* end nav  */
  /* start sidebar */
  .sidbare {
    border: 1px solid none;
    background-color: #87bba2;
    color: #364958;
    top: 74px !important;
    width: 18rem;
    height: fit-content;
    z-index: 99;
    height: 100vh;
  }
  .copy_right p {
    margin-top: 112px;
    font-size: 0.65rem;
    text-align: center;
  }
  .copy_right {
    margin-top: 157px !important;
  }
  /* end sidebar */
  /* start sectionup */
  main {
    margin-left: 18rem;
    margin-top: 100px !important;
    width: calc(100% - 18rem) !important;
    padding: 0 5rem;
  }
  .search_team input {
    width: 10rem;
    height: 28px;
  }
  /* end sectionup */
  /* start main section */
  .sprint {
    background-color: #c9e4ca;
    color: #364958;
    border: none;
  }
  .sprint:hover,
  .sprint:focus,
  .sprint:link,
  .sprint.active {
    background-color: #87bba2;
  }
  .ondrag{
    opacity: 0.5;
  }
  .add {
    display: flex;
    justify-content: center;
  }
  .ajout {
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    border-radius: 5px;
  }
  .inp {
    width: 50%;
  height: 48px;
    border-radius: 5px;
    background: #fff;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .container {
    min-width: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .box{
    margin-bottom: 20px;
  }
  .box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: #ffffff;
    height: 100%;
    padding-bottom: 30px;
    border-radius: 28px;
  }
  .box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: #ffffff;
    height: 100%;
    padding-bottom: 30px;
    border-radius: 28px;
  }
  .box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: #ffffff;
    height: 100%;
    padding-bottom: 30px;
    border-radius: 28px;
  }
  .task {
    border-radius: 8px;
    width: 325px;
    padding: 7px;
    /* height: 238px; */
    border: 1px solid #fff;
    background: #efefef;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #405761;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .tasktext {
    font-family: Roboto Slab;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .title {
    margin-top: 10px;
  
    color: #83888b;
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 500;
  }
  @media (max-width: 768px) {
    main {
      margin-left: 0;
      width: 100% !important;
    }
    .nav-dropdown {
      margin: 0;
    }
  }
  @media (max-width: 500px) {
    .nav-dropdown {
      display: none;
    }
    .navbar-expand .navbar-collapse {
      justify-content: flex-end !important;
    }
  }
  